<nav class="bg-white shadow-sm sticky top-0 z-50">
    <div class="max-w-7xl mx-auto px-6">

        <div class="flex justify-between items-center h-20">

            <!-- Logo -->
            <a href="/" class="flex items-center gap-3">

                <div class="w-11 h-11 rounded-xl bg-blue-600 flex items-center justify-center text-white">
                    <i class="fa-solid fa-bag-shopping text-xl"></i>
                </div>

                <div>
                    <h1 class="text-2xl font-bold">
                        Tech<span class="text-blue-600">Store</span>
                    </h1>
                </div>

            </a>

            <!-- Menu -->
            <div class="hidden md:flex items-center gap-8 font-medium">

                <a href="{% url 'products:index' %}"
									class="{% if request.resolver_match.url_name == 'index' %}
														text-blue-600 border-b-2 border-blue-600
													{% else %}
														text-gray-700 hover:text-blue-600
													{% endif %} transition">
										Home
								</a>

								<a href="{% url 'products:product_list' %}"
									class="{% if request.resolver_match.url_name == 'product_list' %}
														text-blue-600 border-b-2 border-blue-600
													{% else %}
														text-gray-700 hover:text-blue-600
													{% endif %} transition">
										Products
								</a>

                <a href="#" class="hover:text-blue-600 transition">
                    Categories
                </a>

                <a href="#" class="hover:text-blue-600 transition">
                    About
                </a>

                <a href="#" class="hover:text-blue-600 transition">
                    Contact
                </a>

            </div>

            <!-- Icons -->
            <div class="flex items-center gap-6 text-xl">

                <button>
                    <i class="fa-solid fa-magnifying-glass hover:text-blue-600"></i>
                </button>

                <button>
                    <i class="fa-regular fa-user hover:text-blue-600"></i>
                </button>

                <button class="relative">

                    <i class="fa-solid fa-cart-shopping hover:text-blue-600"></i>

                    <span class="absolute -top-2 -right-3 bg-blue-600 text-white text-xs rounded-full w-5 h-5 flex items-center justify-center">
                        2
                    </span>

                </button>

            </div>

        </div>

    </div>
</nav>