<nav class="bg-white shadow-sm sticky top-0 z-50">
    <div class="max-w-7xl mx-auto px-6">

        <div class="flex justify-between items-center h-20">
						<button id="mobile-menu-btn" class="md:hidden text-2xl">
								<i class="fa-solid fa-bars"></i>
						</button>
            <!-- Logo -->
            <a href="/" class="flex items-center gap-3">

                <div class="w-11 h-11 rounded-xl bg-blue-600 flex items-center justify-center text-white">
                    <i class="fa-solid fa-bag-shopping text-xl"></i>
                </div>

                <div>
                    <h1 class="text-2xl font-bold">
                        Tech<span class="text-blue-600">Store</span>
                    </h1>
                </div>

            </a>

            <!-- Menu -->
            <div class="hidden md:flex items-center gap-8 font-medium">

                <a href="{% url 'products:index' %}"
									class="{% if request.resolver_match.url_name == 'index' %}
														text-blue-600 border-b-2 border-blue-600
													{% else %}
														text-gray-700 hover:text-blue-600
													{% endif %} transition">
										Home
								</a>

								<a href="{% url 'products:product_list' %}"
									class="{% if request.resolver_match.url_name == 'product_list' %}
														text-blue-600 border-b-2 border-blue-600
													{% else %}
														text-gray-700 hover:text-blue-600
													{% endif %} transition">
										Products
								</a>

                <a href="#" class="hover:text-blue-600 transition">
                    Categories
                </a>

                <a href="{% url 'products:about' %}" class="hover:text-blue-600 transition">
                    About
                </a>

                <a href="{% url 'products:contact' %}" class="hover:text-blue-600 transition">
                    Contact
                </a>

            </div>

            <!-- Icons -->
            <div class="flex items-center gap-6 text-xl">

                <button>
                    <i class="fa-solid fa-magnifying-glass hover:text-blue-600"></i>
                </button>

                <button>
                    <i class="fa-regular fa-user hover:text-blue-600"></i>
                </button>

                <a href="{% url 'cart:cart_overview' %}" class="relative">

                    <i class="fa-solid fa-cart-shopping hover:text-blue-600"></i>

                    <span id="cart-amount" class="absolute -top-2 -right-3 bg-blue-600 text-white text-xs rounded-full w-5 h-5 flex items-center justify-center">
                        {% with amount=cart|length %}
													{% if amount > 0 %}
															{{ amount }}
													{% else %}
															0
													{% endif %}
												{% endwith %}
                    </span>

                </a>

            </div>

        </div>

    </div>


		<div id="mobile-menu" class="hidden md:hidden bg-white shadow-lg">

			<div class="flex flex-col py-4">

					<a href="{% url 'products:index' %}"
						class="px-6 py-3 hover:bg-gray-100">
							Home
					</a>

					<a href="{% url 'products:product_list' %}"
						class="px-6 py-3 hover:bg-gray-100">
							Products
					</a>

					<a href="#" class="px-6 py-3 hover:bg-gray-100">
							Categories
					</a>

					<a href="{% url 'products:about' %}" class="px-6 py-3 hover:bg-gray-100">
							About
					</a>

					<a href="{% url 'products:contact' %}" class="px-6 py-3 hover:bg-gray-100">
							Contact
					</a>

			</div>

		</div>
</nav>

<script>
	$(function () {

    $('#mobile-menu-btn').click(function () {

        $('#mobile-menu').slideToggle(200);

    });

	});
</script>